//Colores
$primary: #151515;
$secondary: #4ee1a0;
$white: #ffffff;
$text-color: #d9d9d9;
$black-ligth: #242424;
$step: 12px;

//Tamaño maximo
$container: 1300px;

//Bordes redondiados
$radius-sm: 6px;
$radius-md: 12px;

//Sombras
$shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.1);
$shadow-md: 0 4px 10px rgba(0, 0, 0, 0.15);

//Fuentes
$font-primary: "space-grotesk", sans-serif;
$font-secundary: "BigShoulder", sans-serif;
